body {
  height: 100vh;
  margin: 0px;
}

nav {
  margin: 0px;
}

.map {
  height: calc(100% - 64px);
  width: 100%;
  margin: 0px;
}

.legend-wrapper {
  box-sizing: border-box;
  position: fixed;
  bottom: 10px;
  left: 10px;
  max-width: 30%;
  background-color: #fff;
  padding: 10px 20px;
}

@media only screen
and (max-device-width: 680px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: 5em; 
  }
  p {
    font-size: 3em;
  }
}

@media only screen
and (min-device-width: 681px)
and (max-device-width: 1024px) {
  h1, h2, h3, h4, h5, h6 {
    font-size: 4em; 
  }
  p {
    font-size: 2em;
  }
}